<div>
    <div class="container">
        <div class="text-center">
           
            <!-- items being paged -->
            <!-- <div *ngFor="let item of pager.ItemsInPage">{{item.name}}</div> -->

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li *ngIf="pager.currentPage !== 1">
                    <a  class="page-link" href="#" (click)="setPage(1)">First</a>
                </li>
                <li *ngIf="pager.currentPage !== 1">
                    <a class="page-link" href="#" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>

                <!-- pages -->
                <li *ngFor="let page of pager.pages" 
                     [ngClass]="{'page-item': true, 'active':pager.currentPage === page}">
                    <a class="page-link" href="#" (click)="setPage(page)">{{page}}</a>
                </li>


                <li *ngIf="pager.currentPage !== pager.totalPages">
                    <a class="page-link" href="#" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li *ngIf="pager.currentPage !== pager.totalPages">
                    <a class="page-link" href="#" (click)="setPage(pager.totalPages)">Last</a>
                </li>
                
            </ul>
        </div>
    </div>
    <hr />
   
</div>