<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  
</mat-toolbar>



<app-file-tree-component></app-file-tree-component>



<app-form></app-form>





<div class="container mt-5">
    
    
    <input [@heroState]="state" type="text" style="width:1000px;height:200px" class="" placeholder="sadfsafsaf" #input> 
    {{input.offsetWidth}}
    {{date | date:'yyy - d - MMMM'}}
    
    <br><br>
        <button class="pulse btn btn-outline-warning ">
        xxxxx
    </button>

<br><br>

<div class="example-container mat-elevation-z8">

    <div class="example-header">
        <mat-form-field>
          <input #input matInput (keyup)="applyFilter(input.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      
<mat-table #table class="table table-bordered" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          
            <button (click)="aler(element)" class="btn btn-warning"> {{element.name}}</button>

        </mat-cell>
      </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> userId </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header> body </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
>
  </mat-paginator>

</div>
</div>








    khlkhlk


<div *ngFor="let item of itemsInPage">{{item.name}}</div>
<app-pager [itemsArray]="itemsArray" (paginate)="setPage($event)"></app-pager>




              

      
